.footer {
    padding: 50px 30px;
background-color: var(--bg-color);
font-size: 18px;
color: white;
    // .footer__container

    &__container {}
}

.footer-items {

    // .footer-items__text

    &__text {
        text-align: center;
    }
}